/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

p a {
  padding: 0 5px;
}

@media (min-width: 768px) {
  .container {
    max-width: 840px;
  }
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}
